<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:form_title, 'Update your profile') %>
<%= render 'form' %>
<div class="gravatar_edit">
  <%= gravatar_for @user%>
  <a href="http://gravatar.com/emails" target="_blank" rel = "noopener">Change</a>
</div>

